<!-- views/partials/header.ejs -->

<div id="sidebar" class="normal-collapsed">
  <a href="/"><div id="sidebar-logo"></div><a/>
  <nav id="navigation-menu">
    <ul>
      <!-- script below adds li's in the format below: -->
      <li><a><h1></h1></a></li>
    </ul>
  </nav>
  <div id="sidebar-label" onclick="toggleSidebar()">
    <p>Street to Home</p>
  </div>
  <div id="burger-icon" onclick="toggleSidebar()">
    <svg width="89px" height="89px">
      <path d="M35,38 C39,38 41,38 45,38" fill="none" stroke-width="2px" stroke="#000000"></path>
      <path d="M45,38 C49,38 51,38 55,38" fill="none" stroke-width="2px" stroke="#000000"></path>
      <line x1="35" y1="45" x2="45" y2="45" x="0" fill="none" stroke-width="2px" stroke="#000000" stroke-opacity="1"></line>
      <line x1="45" y1="45" x2="55" y2="45" x="10" fill="none" stroke-width="2px" stroke="#000000" stroke-opacity="1"></line>
      <path d="M35,52 C39,52 41,52 45,52" fill="none" stroke-width="2px" stroke="#000000"></path>
      <path d="M45,52 C49,52 51,52 55,52" fill="none" stroke-width="2px" stroke="#000000"></path>
    </svg>
  </div>
</div>

<script>
  var loggedIn = Parse.User.current() != null
  if (loggedIn) {
    console.log('logged in')
    var s = '<ul>'
    s += '<li><a href="/"><h1>Home</h1></a></li>'
    s += '<li><a href="/news"><h1>News</h1></a></li>'
    s += '<li><a href="/donationAmount"><h1>Donate</h1></a></li>'
    s += '<li><a href="/members"><h1>Members</h1></a></li>'
    s += '<li><a href="#"><h1>About</h1></a></li>'
    s += '<li><a href="#"><h1>Contact</h1></a></li>'
    s += '<li><a href="/" onclick="logout()"><h1>Log out</h1></a></li>'
    s += '</ul>'
  } else {
    console.log('logged out')
    var s = '<ul>'
    s += '<li><a href="/"><h1>Home</h1></a></li>'
    s += '<li><a href="/signin"><h1>Sign in</h1></a></li>'
    s += '<li><a href="/donationAmount"><h1>Donate</h1></a></li>'
    s += '<li><a href="#"><h1>About</h1></a></li>'
    s += '<li><a href="#"><h1>Contact</h1></a></li>'
    s += '</ul>'
  }
  document.getElementById('navigation-menu').innerHTML = s
</script>


<script>
  var sidebarExpanded = 0
  var sidebar = document.getElementById('sidebar')
  var navigationMenu = document.getElementById('navigation-menu')

  function toggleSidebar() {
    if (sidebarExpanded === 0) {
      sidebar.className = "expanded"
      navigationMenu.style.display = "block"
    } else {
      sidebar.className = ""
      navigationMenu.style.display = "none"
    }
    sidebarExpanded = (sidebarExpanded + 1)%2
  }

  document.addEventListener("click", function(e) {
      if (event.clientX > 300) {
        sidebar.className = ""
        navigationMenu.style.display = "none"
      }
  }, false)
</script>
