/* basic reset */
html,body,address,blockquote,div,form,fieldset,caption,h1,h2,h3,h4,h5,h6,hr,ul,li,ol,ul,table,tr,td,th,p,img {
  margin: 0;
  padding: 0
}

html {
  /* for scaleable fonts via em/rem where 1rem = 1px */
  font-size: 1px;
  font-family: kepler-std-display,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}

body {
  background-color: rgb(244, 244, 244);
  margin: 0
}

header {
  position: absolute
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: rgb(255, 255, 255)
}

#sidebar-logo {
  height: 89px;
  width: 89px;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: 10px 10px
}

#content {
  margin-left: 8px
}

@media screen and (min-width: 768px) {
  #sidebar {
    border-right: 1px solid rgba(0,0,0,.08);
    width: 89px
  }

  #sidebar-logo {
    border-bottom: 1px solid rgba(0, 0, 0, .04)
  }

  #sidebar-label {
    position: absolute;
    top: 30vh
  }

  #sidebar-label p {
    position: absolute;
    font-size: 16rem;
    font-weight: 400;
    letter-spacing: .8px;
    transform: translateY(102.5px) rotate(-90deg);
    text-transform: uppercase;
    text-align: center;
    height: 0;
    width: 400px;
    left: -166px
  }

  #navigation-menu {
    position: fixed;
    border-top: 1px solid rgba(0, 0, 0, .04);
    bottom: 0
  }

  #content {
    margin-left: 90px
  }
}

.container {
  display: table
}

.box {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw
}

#intro {
  height: 100vh;
  color: rgb(255, 255, 255);
  background-image: url('backdrop.jpg');
  background-size: cover;
  background-position: center
}

#intro h1 {
  display: inline-block;
  font-size: 72rem;
  margin-bottom: 18rem
}

#intro h2 {
  display: inline-block;
  font-size: 24rem;
  letter-spacing: .019em
}

#scroll-indicator {
  display: block;
  margin-top: 32rem
}

#mission .box blockquote {
  font-size: 40rem;
  line-height: 1.3em;
  margin-top: 48rem;
  margin-bottom: 48rem;
  text-align: center
}

#mission-logo {
  height: 96px;
  margin-bottom: 48rem;
  background-image: url('logo2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%
}

.half {
  display: table-cell;
  width: 50%
}

.text {
  padding: 5%;
  background-color: rgb(255, 255, 255)
}

.text h2 {
  font-size: 48rem;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 28rem;
}

.text p {
  font-size: 18rem;
  line-height: 1.5em;
  letter-spacing: .019em
}

.placeholder {
  background-image: url('placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}
