<html>

  <head>
    <title>Street to Home Movement - Donate</title>
    <% include ./partials/head %>
  </head>

  <body>

    <header id="header">
      <% include ./partials/header %>
    </header>

    <div class="form-container">
      <h3 class="user-form-header">Your Contribution</h3>
        <form id="donation-form">
            <fieldset id="donation-fieldset">
              <div>
                <input type="radio" name="amount" id="amount_15" value="15">
                <label for="amount_15" class="amount left">$15</label>
                <input type="radio" name="amount" id="amount_25" value="25">
                <label for="amount_25" class="amount right">$25</label>
              </div>
              <div>
                <input type="radio" name="amount" id="amount_50" value="50" checked="true">
                <label for="amount_50" class="amount left">$50</label>
                <input type="radio" name="amount" id="amount_100" value="100">
                <label for="amount_100" class="amount right">$100</label>
              </div>
              <div>
                <input type="radio" name="amount" id="amount_250" value="250">
                <label for="amount_250" class="amount left">$250</label>
                <input type="radio" name="amount" id="amount_500" value="500">
                <label for="amount_500" class="amount right">$500</label>
              </div>
              <div>
                <input type="radio" name="amount" id="amount_1000" value="1000">
                <label for="amount_1000" class="amount left">$1000</label>
                <input type="radio" name="amount" id="amount_x" value="">
                <label id="amount_x_label" for="amount_x" class="right">
                  $<input type="text" name="amount_text" id="amount_x_text" style="color:black" onclick="document.getElementById('amount_x').checked = true">
                </label>
              </div>
              <div style="display:inline-block;">
                <input type="checkbox" name="subscription" id="subscription" value="subscription">
                <label for="subscription" style="margin:0;">Monthly Subscription</label>
              </div>
              <div style="display:inline-block;height:32px;width:300px;">
                <span id="subscriptionWarning">
                  Can't choose optional amount for monthly subscription.
                  Please choose a preselected value.
                </span>
                </div>
              <button class="btn btn-primary form-submit hug-right" type="button" onclick="process()">Submit</button>
            </fieldset>
            <script>
               function process() {
                 var subscription = document.getElementById('subscription').checked
                 var amount_x_checked = document.getElementById('amount_x').checked
                 if (amount_x_checked && subscription) {
                   document.getElementById('subscriptionWarning').style.display = "block"
                   return
                 }

                 var amountSelected = document.querySelector('input[name="amount"]:checked').value
                 var amountEntered = document.getElementById('amount_x_text').value

                 if (amountSelected) {
                   var amount = amountSelected
                 } else {
                   var amount = amountEntered
                 }

                 var s = "/paymentMethod/" + amount + '/' + subscription
                 window.location.href = s
               }
            </script>
        </form>
    </div>

    <div class="after-form-container">
      <p class="after-form">
        Know your email but not your password?
        <a id="forgotpwd" href="#" onclick="resetpwd()">Reset password</a>
      </p>
      <br>
      <p class="after-form">
        Can't remember which email account you used?
        <a href="#">Email support</a>
      </p>
    </div>

  </body>

</html>
