<html>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
    <script src="https://www.parsecdn.com/js/parse-latest.js"></script>
    <script src="/public/js/general_script.js"></script>
  </head>
  <body id="body">
    <header id="header">
      <div id="sidebar">
        <div id="sidebar-logo"></div>
        <div id="sidebar-label">
          <p>Street to Home</p>
        </div>
        <nav id="navigation-menu">
          <svg width="89px" height="89px">
            <path d="M35,38 C39,38 41,38 45,38" fill="none" stroke-width="2px" stroke="#000000"></path>
            <path d="M45,38 C49,38 51,38 55,38" fill="none" stroke-width="2px" stroke="#000000"></path>
            <line x1="35" y1="45" x2="45" y2="45" x="0" fill="none" stroke-width="2px" stroke="#000000" stroke-opacity="1"></line>
            <line x1="45" y1="45" x2="55" y2="45" x="10" fill="none" stroke-width="2px" stroke="#000000" stroke-opacity="1"></line>
            <path d="M35,52 C39,52 41,52 45,52" fill="none" stroke-width="2px" stroke="#000000"></path>
            <path d="M45,52 C49,52 51,52 55,52" fill="none" stroke-width="2px" stroke="#000000"></path>
          </svg>
          <ul>
            <li>Home</li>
            <li>About</li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="content">
      <div class="scene">
        <section id="intro" class="container">
          <div class="box">
            <h1>Street to Home Movement</h1>
            <h2>Ending chronic street homelessness in southern Brevard County, Florida</h2>
            <svg id="scroll-indicator" width="10px" height="45px">
              <polygon points="4,0 6,0 6,40 10,40 5,45 0,40 4,40" fill="#ffffff"></polygon>
            </svg>
          </div>
          <ul id="menu">
            <li id="li1" style="display:none">
              <a id="userbox" class="signin" onclick="userPageOrLogin()"></a>
            </li>
            <li>
              <div class="dropdown">
              <a class="dropbtn" onclick="myFunction()">...</a>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/login">Login</a>
                  <a id="logout" href="/" style="display:none" onclick="logout()">Logout</p>
                  <a href="#join">New account</a>
                </div>
              </div>
            </li>
            <script>
              var user = Parse.User.current()
              if (user) {
                var firstname = user.attributes.firstname
                document.getElementById("li1").style.display = "inline"
                document.getElementById("logout").style.display = "inline"
                document.getElementById("userbox").text = firstname
              }
            </script>
          </ul>
          <script>
            /* When the user clicks on the button,
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show")
            }

            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {

                var dropdowns = document.getElementsByClassName("dropdown-content")
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i]
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show')
                  }
                }
              }
            }
          </script>
        </section>
        <section id="mission" class="container">
          <div class="box">
            <blockquote>We are a grassroots movement supporting those in our community that have been homeless the longest in obtaining permanent housing, recovery, and community re-integration.</blockquote>
            <div id="mission-logo"></div>
          </div>
        </section>
        <section id="outreach" class="container">
          <div class="half text">
            <h2>We know 109 South Brevard residents by name that have been living on our streets for over a year</h1>
            <p>Our Street Outreach Team brings housing specialists and law enforcement together to conduct planned morning, day, and night shifts to engage those living on the street and move the supportive housing process forward.</p>
          </div>
          <div class="half placeholder"></div>
        </section>
        <section id="who" class="container">
          <div class="half placeholder"></div>
          <div class="half text">
            <h2>Someone's father, mother, brother, sister, daughter, son</h1>
            <p>
              Each person experiencing homelessness is someone: someone's father, mother, brother, sister, daughter, son.
              Someone capable of change.
              Our team of support professionals focuses on evoking each person's own ability for change.
              And change starts with a home.
            </p>
          </div>
        </section>
        <section id="join" name="join" class="container">
          <div class="box login">
            <form class="signup">
            <h2>Join our revolution</h2>
              <span class="inputgroup email">
                <label for="email">Email Address</label>
                <input id="email" name="email" size="48" type="email" placeholder="you@example.com" value="" required/>
              </span>
              <span class="inputgroup zip">
                <label for="zip">Zip Code</label>
                <input id="zip" name="zip" size="8" type="text" min="0" pattern="[0-9]*" placeholder="32940" value="" required/>
              </span>
              <button id="button" type="button" value='join' onclick="makeTempAccount()">Stop Homelessness!</button>
            </form>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
