<html>

  <head>
    <title>Street to Home Movement -  Sign in</title>
    <% include ./partials/head %>
  </head>
  <body>

    <header id="header">
      <% include ./partials/header %>
    </header>

    <div class="sidebar-complement">

      <form class="form-container">
        <h3 class="user-form-header">Sign in to view premium content</h3><br>
        <div class="form-group">
          <input name="email" type="email" class="form-control user-form-input" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control user-form-input" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary form-submit" onclick="login()">Sign in</button>
      </form>
      <div class="after-form-container">
        <p class="after-form">
          Know your email but not your password?
          <a id="forgotpwd" href="#" onclick="resetpwd()">Reset password</a>
        </p>
        <br>
        <p class="after-form">
          Can't remember which email account you used?
          <a href="#">Email support</a>
        </p>
      </div>

    </div>

  </body>

</html>
