<html>
  <style>
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    #forgotpwd {
      font-size: 14px;
      float: right
    }

  </style>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script src="https://use.typekit.net/xul5xsx.js"></script>
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
    <script src="http://www.parsecdn.com/js/parse-latest.js"></script>
    <script src="/public/js/login.js"></script>
  </head>
  <body id="body">
    <header id="header"></header>
    <div class="scene">
      <section id="outreach" class="container">
        <div class="half text">
          <p>
            Login to your account:
          </p>
            <form method="GET" action="/user">
              <label><b>email</b></label>
              <input id="email" type="text" placeholder="email" name="email" required>
              <label><b>password</b></label>
              <input id="password" type="password" placeholder="password" name="password" required>
              <br><br>
              <input type="button" value="login" onclick="login()">
              <a id="forgotpwd" href="resetpwd">reset password</a>
            </form>
        </div>
        <div class="half payplaceholder"></div>
      </section>
    </div>
  </body>
</html>
