<html>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
    <script src="https://www.parsecdn.com/js/parse-latest.js"></script>
    <script src="/public/js/general_script.js"></script>
  </head>
  <body id="body">
    <header id="header"></header>
    <div class="scene">
      <section id="outreach" class="container">
        <div class="half text">

          <div class="payment-card">

              <h2>Make donation to help us fight!</h2>

              <form id="donation_form" action="/setaccount" onclick="radioButtonHack()" method="post">
                  <fieldset>
                    <div id="checkout"></div>
                      <label for="amount_10">$10</label>
                      <input type="radio" name="amount" id="amount_10" value="10">
                      <label for="amount_25">$25</label>
                      <input type="radio" name="amount" id="amount_25" value="25">
                      <label for="amount_50">$50</label>
                      <input type="radio" name="amount" id="amount_50" value="50">
                      <label for="amount_100">$100</label>
                      <input type="radio" name="amount" id="amount_100" value="100">
                      <br>
                      <label for="amount_250">$250</label>
                      <input type="radio" name="amount" id="amount_250" value="250">
                      <label for="amount_500">$500</label>
                      <input type="radio" name="amount" id="amount_500" value="500">
                      <label for="amount_1000">$1000</label>
                      <input type="radio" name="amount" id="amount_1000" value="1000">
                      <label for="amount_x">$</label>
                      <input type="radio" name="amount" id="amount_x" value="">
                        <input type="text" name="amount_text" id="amount_x_text"></input>
                      <br>
                      <label for="subscription">Monthly Subscription</label>
                      <input type="checkbox" name="subscription" id="subscription" value="subscription">
                      <br>
                      <button type="submit">Pay now</button>
                      <script>
                        function radioButtonHack() {
                          var amount_x = document.getElementById('amount_x')
                          var amount_x_text = document.getElementById('amount_x_text')
                          amount_x.value = amount_x_text.value
                        }
                      </script>
                  </fieldset>
              </form>
          </div>

          <script src="./public/js/braintree.js"></script>
          <script>
              braintree.setup('<%- clientToken %>', 'dropin', {
                  container: 'checkout',
                  onPaymentMethodReceived: function(result) {

                    var radios = document.getElementsByName('amount');
                    var amount
                    for (var i = 0, length = radios.length; i < length; i++) {
                        if (radios[i].checked) {
                            // do whatever you want with the checked radio
                            amount = radios[i].value
                            // only one radio can be logically checked, don't check the rest
                            break;
                        }
                    }

                    var subscription
                    if (document.getElementById('subscription').checked) {
                      subscription = true
                    } else {
                      subscription = false
                    }

                    Parse.Cloud.run("linkBraintreeWithDb", {
                      payment_method_nonce: result.nonce,
                      amount: amount,
                      subscription: subscription
                    }).then(function() {
                      document.location.href = '/setaccount'
                    })
                  }
              });
          </script>

        </div>
        <div class="half payplaceholder">
        </div>
      </section>
    </div>
  </body>
  <script>
  </script>
</html>
