<html>

  <head>
    <title>Street to Home Movement - Payment Info</title>
    <script src="/public/js/braintree_setup.js"></script>
    <script src="/public/js/braintree.js"></script>
    <% include ./partials/head %>
  </head>

  <body>

    <header id="header">
      <% include ./partials/header %>
    </header>

    <section id="outreach" class="container">
        <div class="form-container">
          <h3 class="user-form-header">Make donation and join our fight!</h3><br>
            <form id="donation-form" action="/setaccount" method="post">
              <div id="checkout"></div>
              <button class="btn btn-primary form-submit" type="submit">Submit</button>
            </form>
        </div>
    </section>

    <div class="after-form-container">
      <p class="after-form">
        Know your email but not your password?
        <a id="forgotpwd" href="#" onclick="resetpwd()">Reset password</a>
      </p>
      <br>
      <p class="after-form">
        Can't remember which email account you used?
        <a href="#">Email support</a>
      </p>
    </div>

    <script>
      braintreeSetup(false, <%= amount %>, <%= subscription %>)
    </script>

  </body>

</html>
