<html>
  <style>
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    #forgotpwd {
      font-size: 14px;
      float: right
    }

  </style>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script src="https://use.typekit.net/xul5xsx.js"></script>
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
  </head>
  <body id="body">
    <header id="header"></header>
    <div class="scene">
      <section id="outreach" class="container">
        <div class="half text">
          <form method="POST" action="/user">
            <label><b>New password</b></label>
            <input type="password" placeholder="" name="password1" required>
            <label><b>Confirm new password</b></label>
            <input type="password" placeholder="" name="password2" required>
            <br><br>
            <input type="submit" value="Reset Password">
          </form>
        </div>
        <div class="half payplaceholder"></div>
      </section>
    </div>
  </body>
  <script>
  </script>
</html>
