<html>
  <head>
    <title>Street to Home Movement - Set Account</title>
    <% include ./partials/head %>
  </head>
  <body>

    <header id="header">
      <% include ./partials/header %>
    </header>

    <div class="sidebar-complement">

      <form id="setAccountForm" class="form-container">
        <h3 class="user-form-header">Set Your Account</h3><br>
        <div class="form-group">
          <input name="firstname" type="text" class="form-control user-form-input" id="firstname" placeholder="First Name" require>
        </div>
        <div class="form-group">
          <input name="lastname" type="text" class="form-control user-form-input" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control user-form-input" id="password" placeholder="Password">
        </div>
        <div class="btn-container-hug-right">
          <input type="submit" class="btn btn-primary form-submit hug-right" required title="5 characters minimum" label="Set">
        </div>
      </form>
      <script>
        document.getElementById("setAccountForm").addEventListener("submit", function(event){
            event.preventDefault()
            document.getElementById("spinner").style.visibility = "visible"
            setAccount()
        })
      </script>


      <div class="after-form-container">
        <p class="after-form">
          Make an account to view <a href="#">premium</a> news articles, campaign updates.
        </p>
        <br>
        <p class="after-form">
          <a href="#">Manage</a> your donations, subscriptions, and check out our progress.
        </p>
      </div>

    </div>

    <div id="spinner" class="loading">Loading&#8230;</div>

  </body>
</html>
