<html>
  <style>
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  </style>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
    <script src="https://www.parsecdn.com/js/parse-latest.js"></script>
    <script src="/public/js/general_script.js"></script>
    <script>
      var tempLogin = '<%- tempLogin %>'
      if (tempLogin) {
        var email = '<%- email %>'
        var tempPassword = '<%- tempPassword %>'
        tempLogin(email,tempPassword)
      }
    </script>
  </head>
  <body id="body">
    <header id="header"></header>
    <div class="scene">
      <section id="outreach" class="container">
        <div class="half text">
          <p>
            Make account so you can login:
          </p>
            <form method="POST">
              <label><b>first name</b></label>
              <input id="firstname" type="text" placeholder="first name" name="firstname" required>
              <label><b>last name</b></label>
              <input id="lastname" type="text" placeholder="last name" name="lastname">
              <label><b>password</b></label>
              <input id="password" pattern=".{5,}" type="password" placeholder="enter password" name="password" required title="5 characters minimum">
              <br><br>
              <input type="button" value="set" onclick="setaccount()">
            </form>
        </div>
        <div class="half payplaceholder"></div>
      </section>
    </div>
  </body>
</html>
