<html>
  <head>
    <title>Street to Home Movement - Set Account</title>
    <% include ./partials/head %>
  </head>
  <body>

    <header id="header">
      <% include ./partials/header %>
    </header>

    <div class="sidebar-complement">

      <form class="form-container">
        <h3 class="user-form-header">Complete setting your account</h3><br>
        <div class="form-group">
          <input name="firstname" type="text" class="form-control user-form-input" id="firstname" placeholder="First Name" require>
        </div>
        <div class="form-group">
          <input name="lastname" type="text" class="form-control user-form-input" id="lastname" placeholder="Last Name">
        </div>
        <div class="form-group">
          <input name="password" type="password" class="form-control user-form-input" id="password" placeholder="Password">
        </div>
        <button type="button" class="btn btn-primary form-submit" onclick="setaccount()" required title="5 characters minimum">Submit</button>
      </form>
      <div class="after-form-container">
        <p class="after-form">
          Make an account to view <a href="#">premium</a> news articles, campaign updates.
        </p>
        <br>
        <p class="after-form">
          <a href="#">Manage</a> your donations, subscriptions, and check out our progress.
        </p>
      </div>

    </div>

  </body>
</html>
