<html>
  <style>
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
  </style>
  <head>
    <title>Street to Home Movement</title>
    <link href="/public/css/index.css" rel="stylesheet">
    <script src="https://use.typekit.net/xul5xsx.js"></script>
    <script>try { Typekit.load({ async: true }); } catch(e) {}</script>
  </head>
  <body id="body">
    <header id="header"></header>
    <div class="scene">
      <section id="outreach" class="container">
        <div class="half text">
          <p>
            Make account so you can login:
          </p>
            <form method="POST" action="/user">
              <label><b>first name</b></label>
              <input type="text" placeholder="first name" name="firstname" required>
              <label><b>last name</b></label>
              <input type="text" placeholder="last name" name="lastname">
              <label><b>password</b></label>
              <input pattern=".{5,}" type="password" placeholder="enter password" name="password" required title="5 characters minimum">
              <br><br>
              <input type="submit" value="set">
            </form>
        </div>
        <div class="half payplaceholder"></div>
      </section>
    </div>
  </body>
  <script>
  </script>
</html>
