<html>
  <head>
    <script src="https://www.parsecdn.com/js/parse-latest.js"></script>
  </head>
  <body>
    <a href="/"><img src="/public/images/favicon.ico" alt="Home"></img></a>
    <p><b>Welcome: </b><%- "to " + "your " + "dashboard" %></p>
  </body>
</html>
