/* basic reset */
html,body,address,blockquote,div,form,fieldset,caption,h1,h2,h3,h4,h5,h6,hr,ul,li,ol,ul,table,tr,td,th,p,img {
  margin: 0;
  padding: 0
}

html {
  font-family: kepler-std-display,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}

body {
  background-color: rgb(244, 244, 244);
  margin: 0
}

header {
  position: absolute
}

#sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: rgb(255, 255, 255)
}

#sidebar-logo {
  height: 89px;
  width: 89px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: 10px 10px
}

#content {
  margin-left: 8px
}

@media screen and (min-width: 768px) {
  #sidebar {
    border-right: 1px solid rgba(0,0,0,.08);
    width: 89px
  }

  #sidebar-logo {
    border-bottom: 1px solid rgba(0, 0, 0, .04)
  }

  #sidebar-label {
    position: absolute;
    top: 30vh
  }

  #sidebar-label p {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .8px;
    transform: translateY(102.5px) rotate(-90deg);
    text-transform: uppercase;
    text-align: center;
    height: 0;
    width: 400px;
    left: -166px
  }

  #navigation-menu {
    position: fixed;
    border-top: 1px solid rgba(0, 0, 0, .04);
    bottom: 0
  }

  #content {
    margin-left: 90px
  }
}

.container {
  display: table
}

.box {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw
}

#intro {
  height: 100vh;
  color: rgb(255, 255, 255);
  background-image: url('../images/backdrop.jpg');
  background-size: cover;
  background-position: center
}

#intro h1 {
  display: inline-block;
  font-size: 72px;
  margin-bottom: 18px
}

#intro h2 {
  display: inline-block;
  font-size: 24px;
  letter-spacing: .019em
}

#scroll-indicator {
  display: block;
  margin-top: 32px
}

#mission .box blockquote {
  font-size: 40px;
  line-height: 1.3em;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center
}

#mission-logo {
  height: 96px;
  margin-bottom: 48px;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%
}

.half {
  display: table-cell;
  width: 50%
}

.text {
  padding: 5%;
  background-color: rgb(255, 255, 255)
}

.text h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 28px;
}

.text p {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.donate {
  padding: 5%;
  background-color: rgb(215, 215, 235)
}

.donate h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 28px;
}

.donate p {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.donate a {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.placeholder {
  background-image: url('../images/placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}

/*Darren adding everything below this temporarily
just to text is visible during testing */

.login > h1,h2,label {
  /* for scaleable fonts via em/px where 1px = 1px */
  font-size: 18px;
  font-family: kepler-std-display,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}

.payplaceholder {
  background-image: url('../images/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}

.signin {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .019em;
  border-style: groove;
  color: rgb(222, 222, 222);
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: ridge;
  border-radius: 4px;
  border-width: thick;
  border-color: rgb(222, 222, 222);
  margin: 15px;
  cursor: pointer
}

.signin:hover, .signin:active {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255)
}

/* taken from:
  http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
*/

.dropbtn {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .019em;
    border-style: groove;
    color: rgb(222, 222, 222);
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
    border-radius: 4px;
    border-width: thick;
    border-color: rgb(222, 222, 222);
    margin: 15px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255)
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 1.25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {display:block;}

ul {
    margin:0;
    list-style-type: none;
    text-align:center;
}

ul li {
    display:inline;
}

form.user-form {
  width: 60%;
  background-color: white;
}

h3.user-form-header {
  text-align: center;
}

form.form-container {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

/*767 media query put width at 100%*/
@media only screen and (max-width: 767px) {
  form.form-container { width:90%;}
}

input.user-form-input {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 22px;
}

button.form-submit {
  width: 250px;
  display: block;
  margin: 0 auto;
}

div.after-form-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

p.after-form {
  text-align: center;
}
