/* basic reset */
html,body,address,blockquote,div,form,fieldset,caption,h1,h2,h3,h4,h5,h6,hr,ul,li,ol,ul,table,tr,td,th,p,img {
  margin: 0;
  padding: 0
}

html {
  font-family: kepler-std-display,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}

body {
  background-color: rgb(244, 244, 244);
  margin: 0
}

header {
  position: absolute
}

#sidebar {
  position: fixed;
  border-right: 1px solid rgba(0,0,0,.08);
  width: 89px;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255)
}

@media only screen and (max-width: 767px) {
  #sidebar { width:0;}
}

#sidebar[class="expanded"] {
  width: 320px;
}

#sidebar-logo {
  height: 89px;
  width: 100%;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: right 10px center;
  border-bottom: 1px solid rgba(0, 0, 0, .04)
}

#sidebar-label {
  position: absolute;
  display: block;
  width: 89px;
  right: 0;
  top: 89px;
  bottom: 89px;
}

#sidebar-label p {
  position: absolute;
  margin: auto;
  left: -166px;
  width: 400px;
  height: 0;
  transform: translateY(0) rotate(-90deg);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  font-size: 16px;
  letter-spacing: .8px;
  top: 50%;
}

#navigation-menu {
  position: absolute;
  top: 89px;
  bottom: 89px;
  border-top: 1px solid rgba(0, 0, 0, .04);
  display: none;
}

@media only screen and (max-width: 1023px) {
  #navigation-menu { width:80vw;},
}

#navigation-menu ul {
  list-style: none;
  position: absolute;
}

#navigation-menu li {
  padding: 6px;
  margin-left: 40px;
}

#navigation-menu li * {
  color: black;
  font-size: 45px;
}

#burger-icon {
  width: 89px;
  height: 89px;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.0392157)
}

@media only screen and (max-width: 767px) {
  #burger-icon {
    top: -20px;
    left: -20px;
  }
}

#sidebar-logo:hover, #sidebar-label:hover, #burger-icon:hover {
  cursor: pointer;
}

#content {
  margin-left: 90px
}

@media only screen and (max-width: 767px) {
  #content { margin-left: 0;}
}

.table-container {
  display: table
}

.box {
  display: table-cell;
  vertical-align: middle;
  padding-top: 5vw;
  padding-bottom: 5vw;
  padding-left: 5vw;
  padding-right: 5vw
}

#intro {
  height: 100vh;
  color: rgb(255, 255, 255);
  background-image: url('../images/backdrop.jpg');
  background-size: cover;
  background-position: center
}

#intro h1 {
  display: inline-block;
  font-size: 72px;
  margin-bottom: 18px
}

#intro h2 {
  display: inline-block;
  font-size: 24px;
  letter-spacing: .019em
}

#scroll-indicator {
  display: block;
  margin-top: 32px
}

#mission .box blockquote, section#join h3.user-form-header {
  font-size: 40px;
  line-height: 1.3em;
  margin-top: 48px;
  margin-bottom: 48px;
  text-align: center
}

#mission-logo {
  height: 96px;
  margin-bottom: 48px;
  background-image: url('../images/logo2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%
}




.half {
  display: table-cell;
  width: 50%
}

.text {
  padding: 5%;
  background-color: rgb(255, 255, 255)
}

.text h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 28px;
}

.text p {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.donate {
  padding: 5%;
  background-color: rgb(215, 215, 235)
}

.donate h2 {
  font-size: 48px;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 28px;
}

.donate p {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.donate a {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .019em
}

.placeholder {
  background-image: url('../images/placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}

/*767 media query put width at 100%*/
@media only screen and (max-width: 767px) {
  .placeholder { display: none;}
}

.login > h1,h2,label {
  /* for scaleable fonts via em/px where 1px = 1px */
  font-size: 18px;
  font-family: kepler-std-display,serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased
}

.payplaceholder {
  background-image: url('../images/backdrop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%
}

.signin {
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: .019em;
  border-style: groove;
  color: rgb(222, 222, 222);
  padding: 3px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: ridge;
  border-radius: 4px;
  border-width: thick;
  border-color: rgb(222, 222, 222);
  margin: 15px;
  cursor: pointer
}

.signin:hover, .signin:active {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255)
}

/* taken from:
  http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown
*/

.dropbtn {
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: .019em;
    border-style: groove;
    color: rgb(222, 222, 222);
    padding: 3px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
    border-radius: 4px;
    border-width: thick;
    border-color: rgb(222, 222, 222);
    margin: 15px;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255)
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    right: 1.25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.show {display:block;}

form.user-form {
  width: 60%;
  background-color: white;
}

h3.user-form-header {
  text-align: center;
  font-size: 2rem;
}

.form-container {
  padding-top: 20px;
  padding-bottom: 60px;
  width: 60%;
  background-color: white;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 1px 0 rgba(0,0,0,.25);
  border-radius: 4px;
  border: 1px solid #e8e8e8;
}

/*767 media query put width at 100%*/
@media only screen and (max-width: 767px) {
  .form-container { width:90%;}
}

input.user-form-input {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 22px;
}

.join {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.hug-right {
    font-size: 20px;
    width: 135px;
    margin-left: 165px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 9px;
    margin-top: 20px;
}

div.after-form-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

p.after-form {
  text-align: center;
}

div.sidebar-complement {
  margin-left: 89px;
}

/*767 media query put width at 100%*/
@media only screen and (max-width: 767px) {
  div.sidebar-complement { margin-left: 0;}
}

input[name=amount] {
    display:none
}

form#donation-form {
  width: 300px;
  margin:0 auto;
}

#donation-form label.amount {
  padding: 12px 0px 12px 0px;
  margin-bottom: 20px;
  width: 45%;
  cursor:pointer;
  /*-webkit-appearance: button;*/
  /* WebKit */
  /*-moz-appearance: button;*/
  /* Mozilla */
  /*-o-appearance: button;*/
  /* Opera */
  /*-ms-appearance: button;*/
  /* Internet Explorer */
  /*appearance: button;*/
  /* CSS3 */
}

#donation-form label#amount_x_label {
  padding: 9px 0 9px 0;
  width: 45%;
  border: 1px solid grey;
  border-radius: 1px;
}

#donation-form input#amount_x_text {
  padding: 0;
  width: 49px;
}

#donation-form input#amount_x_text:focus {
  width: 69px;
  transition: .5s;
}

span#subscriptionWarning {
  font-size:13px;
  color:red;
  display: none;
}

input[type=radio] + label {
  text-align: center;
  border-radius: 4px;
  background-color: lightgrey;
  transition: .2s;
}

input[type=radio]:checked + label {
  background-color: #4CAF50;
  color: white;
}

#donation-fieldset {
  margin-top: 25px;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn-container-hug-right {
  width: 300px;
  margin: 0 auto;
}

h2.level {
  text-align: center;
  font-size: 34px;
  margin-bottom: 5px;
}

div.donor-container-left {
  width: 45%;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

div.donor-container-right {
  width: 45%;
  float: right;
  text-align: center;
  padding: 10px;
  font-size: 24px;
}

img.gem {
  margin: 0 calc(50% - 38px);
}

div#checkout {
  height: 187;
}
